
/* universal */
*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121617;
}
/*navbar*/
.nav-bar{
    background-color: black;
    padding: 2%;
    backdrop-filter: blur(5px);
}

.nav-bar > ul{
    display: grid;
    grid-template-columns: 70% auto auto auto;
    color: white;
    font-size: 16px;
    list-style: none;
    z-index: 1;
    
}
.nav-bar  a{
    text-decoration: none;
    color: white;
}
.nav-bar::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(100deg, #000,#011717);
    filter: blur(10px);
    z-index: -1;
}
/*part-1*/
.part-1-img{
   width: 98.9vw;
   height: 90vh;
   filter: brightness(50%);

}
.part-1{
    margin-bottom: 5%;
}
/*part-2*/
.part-2{
    display: grid;
    grid-template-columns: 50% 50%;
   
}
.part-2-text{
    color: white;
}
.image-carousel{
    margin: 3%;
}
.car-1-img {
    width: 30vw;
    height: 32vh;
}
.car-2-img {
    width: 40vw;
    height: 32vh;
}
.car-3-img {
    width: 30vw;
    height: 32vh;
}
.carousel-control-prev{
    top:170vh;
    left: 62%;
    background-color: linear-gradient(#00f8e6, #00d7fa);
   
}
.carousel-control-next{
    top:170vh;
    left: 72%;
    background-image: linear-gradient(#00f8e6, #00d7fa);
   
}
.part-2-text p{
    margin-top: 3%;
    margin-right: 4%;
}
/*part-3*/
.card-deck {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 8%;
   
}
.card{
    margin-right: 8%;
}
.part-3-text{
    text-align: center;
    margin-top: 3%;
}
.part-3-text > h3{
    color: white;
}
.part-3-text >h5{
    color: white;
}
.card-body{
    padding: 12%;
}
.participate{
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
   
}
.register-btn{
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 6%;
    margin-left: 30%;
    
    background-image: linear-gradient(#00f8e6, #00d7fa);
   
}
.booked-btn{
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 6%;
    margin-left: 30%;
    
    background-image: linear-gradient(#00f8e6, #00d7fa);
   
}
.card-title{
    color: white;
}
.ticket-list{
    color: white;
    margin-left: -3%;
}
.card-home-1{
    background-color: #1b2121 ;

}
.card-home-2{
    background-color: #1b2323 ;
}
.card-home-3{
    background-color: #292d2e;
}
/*part-4*/
.text-part-4 h3 {
    color: white;
    text-align: center;
}
.text-part-4{
    margin-bottom: 3%;
}
.sponsers{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;

}
.spo-img-1{
    width: 8vw;
    height: 12vh;
}
.spo-img-2{
    width: 8vw;
    height: 12vh;
}
.spo-img-3{
    width: 10vw;
    height: 12vh;
}
/*footer*/
.footer{
    background-color: #292d2e;
    margin-bottom: 0;
    padding: 5%;
    display: grid;
    grid-template-columns: 70% 30%;
}
.footer  h5, p{
    color: rgb(206, 213, 213);
    margin-left: 8%;
    
}
.address-1{
    margin-bottom: 15%;
    margin-top: 3%;
}
.myMap{
    filter: invert(100%);
}
.sub-footer{
    background-color: #404343;
    margin-bottom: 0;
    padding: 2%;
  
}
.sub-footer p{
    text-align: center;

}