
/* universal */
*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121617;
}

.login-card{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 5%;
    margin-bottom: 5%;
   height: 80vh;
  
    
}
.home-btn{
    text-decoration: none;
    color: white;
    margin-right: 80%;
    
}
.dots{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 20vw;
    height: 25vh;
}
.vector{
    width: 34vw;
    height: 55vh;
    position: relative;
    top:25%;
}
.login-image{
    display: grid;
    place-items: center;
    
}
.login-image h4{
    color: white;
   margin-top: 15%;
}
.login-form{
    display: grid;
    place-items: center;
}
.outer-login-image{
    background-color:#292d2e ;
    padding: 4%;

}
#name{
    padding: 1.6%;
    width: 20vw;
    margin-bottom: 2%;
    margin-top: 2%;
}
#email{
    padding: 1.6%;
    width: 20vw;
    margin-bottom: 2%;
    margin-top: 2%;
}
#password{
    padding: 1.6%;
    width: 20vw;
    margin-bottom: 2%;
    margin-top: 2%;
}
.button{
    padding: 3%;
    margin-left: 5%;
    width: 18vw;
}
.or{
    margin-left: 48%;
    margin-top: 3%;

}
.home
{
    visibility: hidden;
}
.create
{
    background-color: #121617;
    color: white;
}
@media only screen and (max-width: 700px)
{
    #name
    {
        width: 50vw;
    }
    .new-home-btn
    {
        color: #121617;
        text-decoration: none;
    }
    .login-card
    {
        position: relative;
    }
    .home-btn
    {
        margin: 0;
        position: absolute;
        top: 2%;
        left: 2%;
    }
    .home
    {
        visibility: visible;
    }
    .outer-login-image{
        display: none;
    }
    .login-card
    {
        display: grid;
        grid-template-columns: 100%;
        padding: 5% 10%;
        height: 90vh;
        /* background-color:#292d2e */
    }
    #password, #email{
        width: 50vw;
    }
    .create-btn
    {
        margin: 0;
        display: flex;
            justify-content: center;
    }
    .button
    {
        margin: 0;
    }
    .acc-create
    {
        width: 50vw;
    }
    .google-signup
    {
        width: 50vw;
    }
}
@media only screen and (max-width: 400px)
{
    .acc-create
    {
        width: 50vw;
    }
    .google-signup
    {
        width: 50vw;
    }
    .home-btn
    {
        margin: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        margin-bottom: 2%;
    }
    .outer-login-image{
        display: none;
    }
    .login-card
    {
        display: grid;
        grid-template-columns: 100%;
        padding:2%;
        height:80vh;
        /* background-color:#292d2e */
    }
    /* .button
    {
        width: 30vw;
    } */
    
    
}