<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script> -->

 
    <link href="signup.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/8d914b3d7d.js"
      crossorigin="anonymous"
    ></script>
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <!--login-page-start-->
    <div class="login">
      <div class="login-card">
          <div class="outer-login-image">
            <div class="login-image">
              <a class="home-btn" href="index.html">Home</a>
              <img  class="dots" src="./images/Dot-PNG-HD.png" />
              <img class="vector" src="./images/app-login-5188522-4346990.webp" />
              <h4>Welcome to TechNova</h4>
            </div>
          </div>
          <div class="login-form">
            <div class="home home-btn">
              <a href="/" class="new-home-btn">&larr;Home</a>
            </div>
            <h3>Create your account</h3>
            <form action="/signup" method="post">
              <label for="name">Full Name</label><br />
              <input type="text" name="name" id="name" placeholder="Full name" />
              <br />
            
              <label for="email">Email Address</label><br />
              <input type="text" name="email" id="email" placeholder="Email" />
              <br/>
            
              <label for="password">Enter password</label><br />
              <input type="password" name="password" id="password" placeholder="Password" />
              <br/>
             <br/>
              <button type="submit" class="button create acc-create">Create your account</button>
  
               <p class="or">or</p>
  
               <button class="button google-signup">Signup with google</button>
            </form>
            <p>Already have an account? <a href="/login">Sign in</a></p>
      </div>
        
    </div>
  </body>
  <script src="./js/signup.js"></script>
</html>
