<!--footer-->
<div class="footer">
    <div class="map">
      <p>
        <iframe class="myMap"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.376170291281!2d78.17195011495578!3d26.249452083417797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3976c6e5d32a4d53%3A0xf834069adc0c9b89!2sAtal%20Bihari%20Vajpayee%20Indian%20Institute%20of%20Information%20Technology%20and%20Management%20Gwalior!5e0!3m2!1sen!2sin!4v1671904914860!5m2!1sen!2sin"
          width="700"
          height="350"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </p>
    </div>
    <div class="address">
      <div class="address-1">
        <h5>Address</h5>
        <p>ABV - IIITM Campus</p>
        <p>108, Gangortri hostel</p>
        <p>Gwalior, Madhya pradesh</p>
      </div>
      <div class="contact-number">
        <h5>Contact</h5>
        <p>Email: imlata1111@gmail.com</p>
        <p>Mobile: +91 8340776128</p>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <p>Copyright (c) 2022 | Terms of use | Privacy</p>
  </div>
</body>
</html>
